<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/cocktails">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/cocktails/new">Add New Cocktail <span class="sr-only">(current)</span></a>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>Cocktails!</h1>
    <ul>
    <% @cocktails.each do |cocktail| %>
      <li><%= link_to "#{cocktail.name}", cocktail_path(cocktail) %></li>
    <% end %>
    </ul>
</div>