<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/cocktails">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/cocktails/new">Add New Cocktail <span class="sr-only">(current)</span></a>
    </ul>
  </div>
</nav>


<div class="cards">
  <% @cocktails.each do |cocktail| %>
  <%= <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#{cocktail.image_url})">%>
    <%= link_to "#{cocktail.name}", cocktail_path(cocktail) %>
  </div>
   <% end %>
</div>

